:root {
  --primary: #ffffff;
  --secondary: #f89673;
  --title: #26d0e7;
}

@media all and (max-device-width: 1024px) {
  .intro-message .h1 {
    font-size: 50px;
  }
  .welcome-message .h2 {
    font-size: 40px;
  }
}

@media all and (max-device-width: 768px) {
  .intro-message .h1 {
    font-size: 45px;
  }
  .welcome-message .h2 {
    font-size: 35px;
  }
}

@media all and (max-device-width: 640px) {
  .intro-message .h1 {
    font-size: 16px;
  }
  .welcome-message .h2 {
    font-size: 16px;
  }
}

@media all and (max-device-width: 414px) {
  .intro-message .h1 {
    font-size: 30px;
  }
  .welcome-message .h2 {
    font-size: 25px;
  }
}

@media all and (max-device-width: 375px) {
  .intro-message .h1 {
    font-size: 27px;
  }
  .welcome-message .h2 {
    font-size: 20px;
  }
}

@media all and (max-device-width: 320px) {
  .intro-message .h1 {
    font-size: 30px;
  }
  .welcome-message .h2 {
    font-size: 25px;
  }
}

html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.App {
  text-align: center;
  background-color: #ffffff;
  box-sizing: content-box;
  font-family: "Nunito", sans-serif;
}

/* navbar */
.navbar {
  /* padding: 1.5rem; */
  font-weight: 200px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header-icon {
  width: 160px;
  height: 80px;
}

/* jumbotron */
.jumbotron {
  padding: 0;
  position: relative;
}

.jumbotron .jumbo-img {
  display: block;
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  min-height: 300px;
  /* min-height: 600px; */
}

.welcome-message h2 {
  color: var(--primary);
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 900 !important;
}

.intro-message h1 {
  color: var(--primary);
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 900 !important;
}

/* suggestions */
.suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10%;
}

.suggestions-button {
  border-radius: 100px;
  width: 175px;
  height: 50px;
  font-weight: 900 !important;
}

/* content */
/* .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 0;
  padding: 15px;
}

.content .content-link {
  padding: 15px;
  border: 0;
  position: relative;
  text-align: center;
}

.content-img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  color: var(--secondary);
}


.price-tag {
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.2rem, 0.5rem;
}

.content .content-link .card-text {
  position: absolute;
  bottom: 43%;
  left: 8%;
  font-weight: 900;
}

.content .content-item .content-description {
  padding: 0;
}

.content .content-item .content-description .content-type {
  color: #000000;
}

.content .content-item .content-description .content-name {
  color: #000000;
}

.content .content-item .content-description .content-location {
  color: #000000;
}

.content .content-item .content-description .content-rating {
  color: #000000;
} */

/* footer */
.footer {
  box-shadow: 0px -5px 8px -6px rgba(0, 0, 0, 0.75);
  height: 10%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.footer .footer-content {
  /* top: 50%; */
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-around; */
  padding: 0;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.footer .footer-content .footer-content-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  /* width: 50%; */
  /* padding: 10%; */
}

.footer .footer-content .footer-content-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  /* width: 50%; */
  /* padding: 10%; */
}

.xplora-footer-icon-xplora {
  /* height: 100px; */
  /* width: 145px; */
  padding: 0;
}

.xplora-footer-icon-microtel {
  height: 75px;
  width: 145px;
}

/* loading */

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
}
